div.circle-block1, div.circle-block2, 
div.circle-block3, div.circle-block4,
div.circle-block5 { 
	position: absolute; 
	outline: 1px solid black; 
	color: #333;
	padding: 5px; 
	border-radius: 50%;
}

div.circle-block1{
	background-color: #ECF5E4; 
    width: 250px; 
	height: 250px; 
	top: 50px;
	left: 6%;
}

div.circle-block1:hover, div.circle-block2:hover, 
div.circle-block3:hover, div.circle-block4:hover,
div.circle-block5:hover{
	cursor: default;
}

div.circle-block2{
	background-color: #D660CC;
	width: 300px;
	height: 300px;
	top: 50px;
	left: 32%;
}

div.circle-block3{
	background-color: #D6C389;
	width: 400px;
	height: 400px;
	top: 50px;
	left: 60%;
}

div.circle-block4{
	background-color: #5CB4B0;
	width: 400px;
	height: 400px;
	top: 320px;
	left: 10%;
}

div.circle-block5{
	background-color: #6EC665;
	width: 300px;
	height: 300px;
	top: 380px;
	left: 40%;
}

div.circle-block1 p, div.circle-block2 p, 
div.circle-block3 p, div.circle-block4 p,
div.circle-block5 p{
	margin: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

